---
import Layout from "@/layouts/Layout.astro";
import ManualCardForm from "@/components/flashcards/ManualCardForm";
---

<Layout title="Utwórz fiszkę">
  <div class="bg-cosmic min-h-screen p-4 sm:p-8">
    <div class="mx-auto max-w-2xl space-y-4">
      <ManualCardForm client:load />
    </div>
  </div>
</Layout>
